@charset "UTF-8";
/* CSS Document */

body{
	margin: 0px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	background-color: #EDEDED;
}
.clearfix{
	content: "";
	clear: none;
	display: table;
}
.clearfix{
	overflow: auto; 
}
.page-wrapper{
	margin-left: 0;
	margin-right: 0;
}
#loginUser{
	display: none;
}

.page-wrapper-2{
	margin: 0;
	padding: 0;
}

#register-div{
	display: none;
}

#usName-div{
	display: none;
}

.start-menu{
	width: 100%;
	height: 100%;
	background-color: black;
	position: fixed;
	overflow: auto;
	margin: 0;
}

.VDC-banner_start {
	margin-top: 25px;
	height: 140px;
	
}

.VDC-banner_start img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.user-menu_1{
	color: white;
	width: 40%;
	height: 600px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.start-txtin{
	align-content: center;
	margin-top: 15px;
	width: 100%;
	display:flex;
	flex-direction:row;
}
.start-txtin input{
	margin-top: 5px;
	padding-left: 15px;
	height: 40px;
	font-size: 12pt;
	flex:1;
	border-radius: 10px;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-style: solid;
	border-width: .25px;
	border-color: gray;
}

.user-register{
	height: 40px;
	margin-top: 15px;
	margin-left: 0;
	color: white;
	font-size: 10pt;
	background-color: transparent;
	border-style: none;
	text-decoration: underline;
	text-align: center;
	width: 100%;
}
.user-register:hover{
	color: #0099DC; 
}
.user-logout{
	width: 100%;
	height: 40px;
	font-size: 12pt;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	background-color: black;
	border-style: solid;
	text-align: center;
	border-color: white;
	border-width: 0.5px;
	cursor: pointer;
}
.user-logout:hover{
	background-color: white;
	color: black;
}


.VDC-contact_start{
	bottom: 0;
	width: 100%;
	border-top: 1px solid #ddd;
	color: white;
	font-size: 11pt;
	font-weight: lighter;
}

.VDC-contact_start P{
	text-align: center;
}

.VDC-contact_start img{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	display: block;
}

.search-engine{
	height: 70px; /*150px;*/
	background-color: black;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	left: 0; /*320px;*/
	right: 0;
	position: fixed;
	z-index: 1;
}

.VDC-banner{
	padding-left: 20px;
	float: left;
	
}

.banner-div{
	float: left;
	width: 80px;
	margin-top: 15px;
	height: 40px;
	border-right: 2px solid gray;
}

/*
.search-engine button{
	margin-top: 25px;
	margin-right: 45px;
	float: right;
	cursor: pointer;
	width: 60pt;
	height: 40pt;
	border-radius: 20pt;
	text-decoration: none;
	border-style: solid;
	text-align: center;
	border-color: white;
	border-width: 1.5px;
}

.search-engine button:hover{
	border-color: #EDEDED;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	
}
.search-bar{
	margin-top: 0px;
	overflow: hidden;
	padding-right: 120px;
}
.search-bar input{
	border-style: none;
	background-color: #EDEDED;
	width: 100%;
	margin-top: 25px;
	margin-left: 45px;
	padding-left: 30px;
	height: 50px;
	border-radius: 25px;
	font-size: 14pt;
	font-weight: lighter;
}
.search-bar input:hover{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

*/

.filter{
	margin-top: 10px;
	height: 60px;
	padding-left: 60px;
	align-content: center;
	overflow: hidden;
}




/*
.filter p{
	font-size: 12pt;
	float: left;
}
.filter img{
	margin-left: 10px;
	margin-right: 25px;
	margin-top: 10px;
	float: left;
}
.filter select{
	-moz-appearance: none;
	-webkit-appearance: none;
	padding-left: 15px;
	margin-top: 15px;
	width: 15%;
	height: 20px;
	margin-right: 10px;
	font-size: 9pt;
	border-radius: 10px;
	border-width: .25px;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	background-image: url(../images/select%20arrow-09.png);
	background-repeat: no-repeat;
	background-size: auto 8px;
	background-position: right center;
}
*/

.banner-div2{
	float: left;
	width: 1px;
	margin-top: 5px;
	margin-right: 40px;
	height: 40px;
	border-right: 1px dotted white;

}

.banner-div3{
	float: left;
	width: 20px;
	margin-top: 5px;
	height: 40px;
	border-right: 2px solid gray;

}
/* The container */
.container {
  display: block;
  position: relative;
  float: left;
  padding-left: 35px;
  margin-right: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 11pt;
  margin-top: 15px;
  color: white;	
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #FFCD34;
}

.container:hover {
  color: #FFCD34;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #FFCD34;
}


.filter button{
	float: right;
	width: 50px;
	height: 25px;
	margin-top: 15px;
	right: 25px;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	background-color: black;
	border-style: solid;
	text-align: center;
	border-color: white;
	border-width: 0.5px;
	cursor: pointer;
	position: fixed;
}
.filter button:hover{
	background-color: white;
	color: black;
}

.filter h2{
	color: white;
	float: right;
	margin-top: 18px;
	font-size: 11pt;
	position: fixed;
	right: 150px;
}

.filter img{
	position: fixed;
	margin-top: 5px;
	margin-left: 0px;
	right: 250px;
}


.data-index{
	margin-left: 0; /*320px*/
	padding-right: 25px;
	padding-top: 25px;
	overflow: auto;
	height: auto;
	background-color: #EDEDED;
}

.metadata-container{
	width: 90%;
	margin-top: 70px;/*150px;*/
	column-width:300px;
	column-gap: 25px;
	margin-left: 25px;
}

.metadata-card{
	background-color: white;
	display: inline-block;
	margin-bottom: 25px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	column-break-inside: avoid;
	width: 100%;
	transition: opacity .4s ease-in-out;
	padding-bottom: 10px;
	
}

.collapsible{
	width: auto;
	height: 30px;
	padding-left: 20px;
}

.metaFig{
	float: right;
	
}


.data-title{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	align-content: center;
	margin: 20px;
	padding-right: 20px;
	font-size: 12pt;
	font-weight: bold;
	
}

.data-title h4{
	padding-right: 20px;
	padding-top: 20px;
}

.data-title img{
	float: left;
	margin-right: 20px;
	margin-top: 5px;
}

.metadata-dsc {
	display: block;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 60px;
	margin-bottom: 40px;
	font-size: 10pt;
} 

.metadata-dsc b{
	color: #404040;
	
	line-height: 25px;
}

.metadata-dsc p{
	line-height: 20px;
}

.metadata-link button{
	cursor: pointer;
	margin-left: 20px;
	margin-top: 5px;
	width: 70%;
	height: 35px;
	font-size: 12pt;
	font-weight: normal;
	border-radius: 10px;
	text-decoration: none;
	border-style: solid;
	text-align: center;
	border-color: #9D9D9C;
	background-color: white;
	border-width: 1px;
	margin-bottom: 20px;
}

.metadata-link button:hover{
	
	background-color: #9D9D9C;
	color: white;
}

.metadata-link li{
	list-style-type: none;
}
.metadata-link a{
	text-decoration: underline;
	color: black;
	font-size: 10pt;
	display: block;
	padding-left: 25px;
}

.metadata-link a:hover{
	color: #0099DC;
}

.add-data{
	float: right;
	width: auto;
	position: fixed;
	font-size: 10pt;
	font-weight: normal;
	bottom: 20px;
	right: 0;
	margin-right: 45px;
	
	
}
.add-data button{
	margin-bottom: 10px;
	background-color: white;
	right: 0;
	position: fixed;
	width: 50px;
	height: 50px;
	font-size: 30px;
	text-align: center;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	border: none;
	cursor: pointer;
	margin-right: 45px;
}
.add-data button:hover{
	background-color: black;
	color: white;
}
.add-data li{
	list-style-type: none;
	margin-top: 80px;
	text-align: right;
}
.add-data a{
	text-decoration: none;
	color: black;
	font-size: 10pt;
	display: block;
}

.add-data a:hover{
	color: #0099DC;
	text-decoration: underline;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.3);
}


/* Modal Header */
.modal-header {
  padding: 5px 30px;
  background-color: black;
  color: white;
}
.modal-header h4{
	font-size: 12pt;
    font-weight: bold;
}

/* Modal Body */
.modal-body {
	padding: 5px 30px;
	margin-top: 25px;
	
}
.modal-dsct{
	margin-top: 40px;
	font-size: 12pt;
	font-weight: bolder;
	
}

.modal-txtin{
	align-content: center;
	margin-top: 25px;
	width: 100%;
	display:flex;
	flex-direction:row;
}
.modal-txtin input{
	margin-top: 5px;
	height: 25px;
	font-size: 10pt;
	padding-left: 10px;
	flex:1;
	border-radius: 10px;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-style: solid;
	border-width: .25px;
	border-color: gray;
}


.modal-dscst{
	float: left;
	font-size: 12pt;
	font-weight: lighter;
	margin-right: 15px;
	
}
.modal-select{
	align-content: center;
	width: 100%;
	display:flex;
	margin: 0 auto;
	justify-content: space-between;
	flex-direction:row;
}


.modal-select select{
	-moz-appearance: none;
	-webkit-appearance: none;
	padding-left: 15px;
	height: 25px;
	font-size: 10pt;
	margin-top: 5px;
	border-radius: 10px;
	border-width: 1px;
	border-color: gray;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	background-image: url(../images/select%20arrow-09.png);
	background-repeat: no-repeat;
	background-size: auto 8px;
	background-position: right center;
	flex: 1;
}


.txt-box{
	margin-top: 10px;
	height: 60px;
	width: 98%;
	font-size: 10pt;
	border-radius: 10px;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-width: 1px;
	border-color: gray;
	overflow: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	padding-left: 1%;
	padding-right: 1%;
}
/* Modal Footer */
.modal-footer {
  padding: 5px 25px;
  background-color: #EDEDED;
  height: 60px;
  align-content: center;
  
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  
}

.upldata{
	width: 80%;
	height: 150px;
	background-color: #EDEDED;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 14pt;
	color: gray;
	border-radius: 10px;
	border-style: dotted;
	
}

.upldata:hover {
	background-color: #70C3D0;
}

.DLTable{
	width: 100%;
	margin-bottom: 50px;
	font-size: 10pt;
}

.DLTable th, td {
  border-bottom: 1px dotted #ddd;
}
.DLTable th {
	text-align: left;
	height: 50px;
}

.DLTable td {
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
}

.DLTable tr:hover {
	background-color: #f5f5f5;
}

.savModal{
	float: right;
	right: 25px;
	margin-top: 15px;
	background-color: white;
	color: black;
	width: 70px;
	height: 25px;
	font-size: 12pt;
	text-align: center;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.savModal:hover {
	background-color: black;
	color: white;
}

.editModal{
	border-width: 15px 15px 15px 15px;
	border-style: solid;
	border-color: gray transparent transparent gray;
	background-color: transparent;
	margin-left: -20px;
	margin-top: 0;
	width: 0;
	height: 0;
	display: inline-block;
}

.editModal:hover{
	border-width: 18px 18px 18px 18px;
	border-color: #0099DC transparent transparent #0099DC;
}

.cancModal{
	float: right;
	right: 200px;
	margin-right: 20px;
	margin-top: 20px;
	background-color: transparent;
	border: none;
	font-size: 10pt;
	color: black;
	
}

.cancModal:hover {
	color: #0099DC;
}



/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@media screen and (max-width: 750px) { 
  	.page-menu {display: none;}
	.modal-content{width: 90%;}
	.data-index {margin-left: 0; padding-top: 45px;}
	.metadata-container{margin-top: 0;}
	.search-engine {display: none;}
	.user-menu_1{width: 80%;}
}

@media screen and (max-width: 1280px) {
	.profile-id, .profile-img, .banner-div2{display: none;}
	.banner-div{width: 10px;}
	.container {font-size: 9pt; margin-right: 20px;}
	.filter{padding-left: 20px;}


}
